		</div>

		<!-- Footer -->
		<footer id="footer" action="https://formspree.io/{{site.email}}" method="POST">
				<section>
						<form method="post" action="https://formspree.io/xzbjjwda">
								<div class="field">
									  <label for="name">Name</label>
									  <input type="text" name="name" id="name" />
								</div>
								<div class="field">
									  <label for="email">Email</label>
									  <input type="text" name="_replyto" id="email" />
								</div>
								<div class="field">
									  <label for="message">Nachricht</label>
									  <textarea name="message" id="message" rows="3"></textarea>
								</div>
								<ul class="actions">
									  <li><input type="submit" value="Nachricht senden" /></li>
								</ul>
						</form>
				</section>
				<section class="split contact">
						<section class="alt">
								<h3>Addresse</h3>
								<p>{{ site.street_address }}<br />
									{{ site.zip_code }} {{ site.city }} </p>
						</section>
						<section>
								<h3>Telefon</h3>
								<p><a href="tel:+49{{ site.phone }}">{{ site.phone }}</a></p>
						</section>
						<section>
								<h3>Email</h3>
								<p><a href="#">{{ site.email }}</a></p>
						</section>
				</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
				<ul><li>&copy; {{ site.title }}</li></ul>
		</div>

		</div>

		<!-- Scripts -->
		<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/lightbox.js" | absolute_url }}"></script>
